#music
    width 95vw
    height 100%
    position absolute
    top 0
    left 0
    opacity 1
    pointer-events default

button 
    outline none
    border 2px solid $white 
    background-color alpha($white,0.2)
    padding 10px
    margin 0
    display block
    float left
    cursor pointer
    
.play-button
    background none 
    border none 
    transition background 0.1s, color 0.1s
    font-family sans-serif
    background-size cover

#nowplaying
    background $white
    color $dark-gray
    position absolute
    bottom 0

    *:not(a)
        color $dark-gray

    width 50vw
    float right
    
    .np-inner-wrapper
        display flex
        flex-direction column
        justify-content center

        h2
            letter-spacing 1px
            font-weight 800
            display block

        .desc
            box-sizing border-box
            text-align left
            opacity 0.8
            a
                &:hover
                    color $dark-gray
                    border-bottom 1px solid $gray

        #np-bar-bg
            background $gray

        .load-bar
            float left

        #np-bar
            background $blue
            pointer-events none

        #np-bar-bg
            width 100%

        #np-bar
            width 0%

    @media (max-aspect-ratio: 8/7)
        height 25vh

        button 
            opacity 0
            pointer-events none 
            height 0
            width 0

        .np-inner-wrapper
            height auto
            width 100%
            margin 0
            padding 0
            top 0

            .load-bar
                height 0.5vh
                position absolute
                top 25vh

            #np-bar-pad
                display inline-block
                width 100%
                height 4vh
                top 21vh

            h2
                font-size 6vh
                margin 0
                padding-left 2vh
                padding-right 2vh
                text-align center

            .desc
                width 100%
                padding 3vh
                padding-top 1vh
                text-align center
                font-size 2vh 

    @media (min-aspect-ratio: 8/7)
        height 12vw

        button
            opacity 1
            pointer-events default 
            margin-right 1vw
            font-size 4vw
            width 12vw
            height 12vw
            background $gray
            color $white
            &:hover
                background-color $white
                color $gray

        .np-inner-wrapper
            height 100%
            width 80vw


            #np-bar-pad
                display inline-block
                width 100%
                height 2vw
                top 10vw

            .load-bar
                height 0.5vw
                position absolute
                top 11.5vw
                left 0

            h2
                font-size 2vw

            .desc
                width 100%
                padding-top 0.5vw

                @media (max-aspect-ratio: 12/8)
                        font-size 1.4vw

                @media (min-aspect-ratio: 12/8)
                        font-size 1.2vw 

                padding-bottom 1vw
a
    color $pink
    text-decoration none
    cursor pointer
    &:hover
        color $white
        border-bottom 1px solid $white

#playlist
    width 100%
    overflow-y auto
    overflow-x hidden
    height 100%

.track
    background $black
    width calc(100%/10)
    float left
    cursor pointer
    box-sizing border-box

.track-inner
    height 0
    overflow hidden
    padding-top 100%
    position relative
    button
        position absolute
        top 0
        left 0
        background-size cover
        text-shadow 0px 0px 16px black
        background-position center center
        pointer-events none
        color $white
        width 100%
        height 100%
        font-size 3vw

.track-inner-wrapper
    display flex
    flex-direction column
    justify-content center
    pointer-events none

    h3
        pointer-events none
        font-weight 100
        float left
        width 100%
        text-align left

        .time
            float right
            color alpha($white,0.7)